
@media screen and (min-width: 768px)and (max-width: 1024px){
	
	p {
		font-size: 20px;
	}
	body{
		color: darkorange;
	}
}

@media (max-width: 767px) {
	p {
		font-size: 24px;
	}
	body{
		color: white;
	}
}