@media screen and (min-width: 768px)and (max-width: 1024px){
	
	p{
		background-color: darkorange;
		font-size: 20px;
	}
	
}

@media (max-width: 767px) {
	p{
		background-color: white;
		font-size: 24px;
	}
	
}
